@import '@fontsource/atkinson-hyperlegible';
@import '@fontsource/jetbrains-mono';

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	scrollbar-width: thin;
	scrollbar-color: #29303d transparent;
}

body {
	height: 100svh;
	display: grid;
	place-items: center;
	margin: 0;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	color: #fff;
	background: #1b1e2b;
	background-image: radial-gradient(ellipse at 50% 0%, oklch(0.8 0.4 180 / 4%), transparent 60%);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.page {
	width: 100%;
	max-width: 1400px;
	margin-inline: auto;
	padding: 2rem;

	header {
		margin-block: 2rem;
		text-align: center;

		h1 {
			margin: 0;
			font-size: 2.5rem;
		}

		p {
			margin: 0.5rem 0;
			font-size: 1.25rem;
		}
	}

	section {
		margin-block: 4rem;

		h2 {
			margin-bottom: 1rem;
			color: #e4f0fb;
		}
	}
}
